x-gokv-base: &gokv-base
  image: gokv
  expose:
    - "7946"
  deploy:
    resources:
      limits:
        cpus: '0.5'
        memory: 512M
      reservations:
        cpus: '0.25'
        memory: 128M
  volumes:
    - .:/app
    - ./certs:/app/certs
    - ./config.yml:/app/config.yml
    - ./.air.toml:/app/.air.toml

services:
  gokv1:
    <<: *gokv-base
    build:
      context: ./
      dockerfile: Dockerfile.dev
    ports:
      - "50051:50051"
    environment:
      GOKV_LOG_LEVEL: "info"
      GOKV_CONFIG_PATH: "/app/config.yml"
      GOKV_PERSISTENCE_PATH: "tmp/snapshot1"
      
      GOKV_CLUSTER_NODE_ID: "gokv1"
      GOKV_CLUSTER_BIND_ADDR: "0.0.0.0:7946"
      GOKV_CLUSTER_ADVERTISE_ADDR: "gokv1:7946"
      GOKV_CLUSTER_SEEDS: "gokv2=gokv2:7946,gokv3=gokv3:7946"

      GOKV_INTERNAL_TLS_CA_PATH: "/app/certs/ca.cert.pem"
      GOKV_INTERNAL_TLS_SERVER_CERT_PATH: "/app/certs/internal-server.cert.pem"
      GOKV_INTERNAL_TLS_SERVER_KEY_PATH: "/app/certs/internal-server.key.pem"
      GOKV_INTERNAL_TLS_CLIENT_CERT_PATH: "/app/certs/internal-client.cert.pem"
      GOKV_INTERNAL_TLS_CLIENT_KEY_PATH: "/app/certs/internal-client.key.pem"
      
      GOKV_EXTERNAL_TLS_CA_PATH: "/app/certs/ca.cert.pem"
      GOKV_EXTERNAL_TLS_SERVER_CERT_PATH: "/app/certs/external-server.cert.pem"
      GOKV_EXTERNAL_TLS_SERVER_KEY_PATH: "/app/certs/external-server.key.pem"
      
      GOKV_EXTERNAL_GRPC_BIND_ADDR: "0.0.0.0:50051"
      GOKV_EXTERNAL_GRPC_ADVERTISE_ADDR: "localhost:50051"
      GOKV_EXTERNAL_REST_BIND_ADDR: "0.0.0.0:8080"
      GOKV_EXTERNAL_REST_ADVERTISE_ADDR: "localhost:8080"
    
  gokv2:
    <<: *gokv-base
    ports:
      - "50052:50051"
    environment:
      GOKV_LOG_LEVEL: "info"
      GOKV_CONFIG_PATH: "/app/config.yml"
      GOKV_PERSISTENCE_PATH: "tmp/snapshot2"
      
      GOKV_CLUSTER_NODE_ID: "gokv2"
      GOKV_CLUSTER_BIND_ADDR: "0.0.0.0:7946"
      GOKV_CLUSTER_ADVERTISE_ADDR: "gokv2:7946"
      GOKV_CLUSTER_SEEDS: "gokv1=gokv1:7946,gokv3=gokv3:7946"
      
      GOKV_INTERNAL_TLS_CA_PATH: "/app/certs/ca.cert.pem"
      GOKV_INTERNAL_TLS_SERVER_CERT_PATH: "/app/certs/internal-server.cert.pem"
      GOKV_INTERNAL_TLS_SERVER_KEY_PATH: "/app/certs/internal-server.key.pem"
      GOKV_INTERNAL_TLS_CLIENT_CERT_PATH: "/app/certs/internal-client.cert.pem"
      GOKV_INTERNAL_TLS_CLIENT_KEY_PATH: "/app/certs/internal-client.key.pem"
      
      GOKV_EXTERNAL_TLS_CA_PATH: "/app/certs/ca.cert.pem"
      GOKV_EXTERNAL_TLS_SERVER_CERT_PATH: "/app/certs/external-server.cert.pem"
      GOKV_EXTERNAL_TLS_SERVER_KEY_PATH: "/app/certs/external-server.key.pem"
      
      GOKV_EXTERNAL_GRPC_BIND_ADDR: "0.0.0.0:50051"
      GOKV_EXTERNAL_GRPC_ADVERTISE_ADDR: "localhost:50052"
      GOKV_EXTERNAL_REST_BIND_ADDR: "0.0.0.0:8080"
      GOKV_EXTERNAL_REST_ADVERTISE_ADDR: "localhost:8081"
    depends_on:
      - gokv1

  gokv3:
    <<: *gokv-base
    ports:
      - "50053:50051"
    environment:
      GOKV_LOG_LEVEL: "info"
      GOKV_CONFIG_PATH: "/app/config.yml"
      GOKV_PERSISTENCE_PATH: "tmp/snapshot3"
      
      GOKV_CLUSTER_NODE_ID: "gokv3"
      GOKV_CLUSTER_BIND_ADDR: "0.0.0.0:7946"
      GOKV_CLUSTER_ADVERTISE_ADDR: "gokv3:7946"
      GOKV_CLUSTER_SEEDS: "gokv1=gokv1:7946,gokv2=gokv2:7946"
      
      GOKV_INTERNAL_TLS_CA_PATH: "/app/certs/ca.cert.pem"
      GOKV_INTERNAL_TLS_SERVER_CERT_PATH: "/app/certs/internal-server.cert.pem"
      GOKV_INTERNAL_TLS_SERVER_KEY_PATH: "/app/certs/internal-server.key.pem"
      GOKV_INTERNAL_TLS_CLIENT_CERT_PATH: "/app/certs/internal-client.cert.pem"
      GOKV_INTERNAL_TLS_CLIENT_KEY_PATH: "/app/certs/internal-client.key.pem"
      
      GOKV_EXTERNAL_TLS_CA_PATH: "/app/certs/ca.cert.pem"
      GOKV_EXTERNAL_TLS_SERVER_CERT_PATH: "/app/certs/external-server.cert.pem"
      GOKV_EXTERNAL_TLS_SERVER_KEY_PATH: "/app/certs/external-server.key.pem"
      
      GOKV_EXTERNAL_GRPC_BIND_ADDR: "0.0.0.0:50051"
      GOKV_EXTERNAL_GRPC_ADVERTISE_ADDR: "localhost:50053"
      GOKV_EXTERNAL_REST_BIND_ADDR: "0.0.0.0:8080"
      GOKV_EXTERNAL_REST_ADVERTISE_ADDR: "localhost:8082"
    depends_on:
      - gokv1

networks:
  gokv-cluster:
    driver: bridge
